<div style="width: 100%; background: red;">
  <div>
    <span [routerLink]="['/main/databinding']">Data Binding</span>
  </div>
  <div>
    <span [routerLink]="['/main/statusshare']">Status Share</span>
  </div>
  <div>
    <span [routerLink]="['/main/content']">Content</span>
  </div>
  <div>
    <span [routerLink]="['/main/liftcycle']">LifeCycle</span>
  </div>
  <div>
    <span [routerLink]="['/observable']">Observable Event Http</span>
  </div>
</div>
<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>
