
<h1>Choose the Angular Tutorial...</h1>
<div style="border: 1px solid black;">
  <ol>
    <li [routerLink]="['/main/databinding']">Data Binding</li>
    <li [routerLink]="['/main/stateshare']">State Share</li>
    <li [routerLink]="['/main/content']">Content</li>
    <li [routerLink]="['/main/liftcycle']">LifeCycle</li>
    <li [routerLink]="['/main/observable']">Observable Event Http</li>
    <li [routerLink]="['/main/form']">Form</li>
    <li [routerLink]="['/main/ngrx']">NgRx demo</li>
  </ol>
</div>
<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>
