<div style="border: 1px solid black; margin:10px; padding:10px;">    
    FormBuilder 미사용
    <form [formGroup]="userForm" novalidate>
        <div>
            <input type="text" formControlName="userid" placeholder="user id">
        </div>
        <div formGroupName="passwordGroup">
            <div>
            <input type="password" formControlName="password" placeholder="password"> 
            </div>
            <div>
                <input type="password" formControlName="confirmPassword" placeholder="confirm password">
            </div>
        </div>
    </form>
    <pre> 입력값 : {{ userForm.value | json }}</pre>
    <pre> Validate result : {{ userForm.status }}</pre>
    <pre> password-validate : {{ userForm.controls.passwordGroup.errors?.match | json }}</pre>
</div>
<div style="border: 1px solid black; margin:10px; padding:10px;">
    FormBuilder 사용
    <form [formGroup]="formBuilderUserForm" novalidate>
        <div>
            <input type="text" formControlName="userid" placeholder="user id">
        </div>
        <div formGroupName="passwordGroup">
            <div>
            <input type="password" formControlName="password" placeholder="password"> 
            </div>
            <div>
                <input type="password" formControlName="confirmPassword" placeholder="confirm password">
            </div>
        </div>
    </form>
    <pre> 입력값 : {{ formBuilderUserForm.value | json }}</pre>
    <pre> Validate result : {{ formBuilderUserForm.status }}</pre>
    <pre> password-validate result : {{ formBuilderUserForm.controls.passwordGroup.errors?.match | json }}</pre>
</div>